.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 408px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;

  &__img {
    width: 160px;
    height: 134px;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: $card-button-color;
    color: $text-button-color;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    .card__button {
      background-color: #fff;
      border: 1px solid #00acdc;
      color: #00acdc;
    }

    .stars__reviews {
      color: #060b35;
    }
  }

  .card__content {
    width: 166px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;

    .card__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 4px;
      margin-top: 0;
      color: #060b35;
    }

    .card__code {
      color: #616070;
      margin-bottom: 16px;
      margin-top: 0;
    }

    .card__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      &-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        vertical-align: bottom;
        color: #616070;
      }

      &-value {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        vertical-align: bottom;
        color: #060b35;
      }
    }
  }
}
