.card-info {
  width: 166px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 0;
    color: #060b35;
  }

  &__code {
    color: #616070;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .rating {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &__star {
      width: 16px;
      height: 16px;
      background-image: url(../images/star.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &__star:not(:last-child) {
      margin-right: 4px;
    }

    &__reviews {
      position: relative;
      top: 1px;
      margin-left: auto;
      line-height: 16px;
    }
  }

  .rating--4 .rating__star:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      vertical-align: bottom;
      color: #616070;
    }

    .value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      text-align: right;
      vertical-align: bottom;
      color: #060b35;
    }
  }
}
